.expenseDiv {
   background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 45px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

}

.expense-title {
  color:#FFFFFF;
    font-weight: 400;
    font-size:30px;
    margin-bottom:12px;
}

.expense-money {
  color:#F4BB4A;
  font-weight: 700;
}



.expenseDiv .button {
  background: linear-gradient(90deg, #ff9595, #ff4747, #ff3838);
  border: none;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 15px;
  padding: 12px 30px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}





@media(max-width:767px){
  .expenseDiv{
      padding:35px 10px;
  }
  .expense-title{
      font-size:24px;
  }
}